# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

venv
.python-version
check_words.cjs
infer_timestamps.cjs
lessonContent_en.txt
lessonContent_vi.txt
p1_chars.json
p1.json
p1.txt
to_chars.cjs
p1_chars_en.json
p1_chars_vi.json
p1_en.json
p1_vi.json
p1_vi.txt
